<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/css/style.css'/>
  </head>
  <body>
    <div id="root"><%- reactOutput %></div>
    <script id="preloadedData" type="application/json"><%- preloadedData %></script>
    <script src="/bundle.js"></script>
  </body>
</html>

